[Inverter1]
SERIAL = 112100000000
MAXIMUM_WR = 300
MINIMUM_WR = 100
DTU_IP = 192.100.100.20
DTU_NUTZER = admin
DTU_PASSWORT = openDTU42
SHELLY_IP = 192.100.100.30
STANDARD_TIMEOUT = 5
EM3PRO = True